<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Генератор превью</title>

  <link rel="stylesheet" type="text/css" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.7.0/cropper.min.css">

  <!--STYLES-->
  <!--STYLES END-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
</head>

<body>

  <div class="container">

    <div class="content row">
      <div class="col-md-12 text-center">
        <h2>Upload avatar</h2>
      </div>
      <div class="col-md-12">
        <form>
          <div class="form-group col-md-4">
            <label for="avatarFromComputer">From computer</label>
            <span class="btn btn-default btn-file">
            Choose file
            <input type="file" id="avatarFromComputer">
            </span>
          </div>
          
          <div class="form-group col-md-6">
            <label for="avatarFromInternet">Upload from internet</label>
            <input type="text" class="form-control" id="avatarFromInternet" placeholder="http://">
            <p class="help-block">Minimal size - 186 x 186px, MAximum file size 5mb</p>
          </div>

          <div class="form-group col-md-2">
            <label>&nbsp;</label>
            <input type="submit" class="form-control btn btn-default" value="Upload">
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.7.0/cropper.min.js"></script>

  <!--TEMPLATES-->
  <!--TEMPLATES END-->

  <!--SCRIPTS-->
  <!--SCRIPTS END-->

</body>
</html>
