<div class="form-group col-md-5 {{#if errors.name}}has-error{{/if}}">
  <label for="name">Имя</label>
  <input type="text" class="form-control" id="name" placeholder="Сергей Кузнецов" value="{{name}}">
  {{#if errors.name}}
  <span class="help-block">{{errors.name}}</span>
  {{/if}}
</div>
<div class="form-group col-md-5 {{#if errors.phone}}has-error{{/if}}">
  <label for="phone">Телефон</label>
  <input type="email" class="form-control" id="phone" placeholder="7-871-501-11-12" value="{{phone}}">
  {{#if errors.phone}}
  <span class="help-block">{{errors.phone}}</span>
  {{/if}}
</div>
<button type="submit" class="col-md-2 btn btn-default btn-add">Добавить</button>
